@using ProjetoINFNET.UI.Web.Util
@{
    ViewBag.Title = "Home Page";
}

@if (!SessionManager.IsAuthenticated)
{
    <div class="jumbotron">
        <h2>Bem vindo ao RAMS</h2>
        <p class="lead"><b>R</b>eaction <b>A</b>valiation <b>M</b>anagement <b>S</b>ystem</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Entre no sistema</h3>
            <p>
                Para ter acesso as todas as funcionalidades do sistema, faça o login com seus dados pessoais!
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
}